<div class="container">
  <div class="row"><h1>New User</h1>
    <form action="/create_user">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="email" placeholder="email">
      <input type="submit">
    </form>
  </div>
</div>
  

